aaddda
<div class='chat-message'>
	<span class='chat-time'>[<%= hour %>:<%= minute %>:<%= second %>]</span>
	<span class='chat-username chat-user-color-<%= color %>'><%= username %></span>:
	<span class='chat-message'><%= message %></span>
</div>
