<div class='user-word-container' id='user-word-container-<%= userId %>'>
	<div class='user-name-container'>
		<div id='user-name-<%= userId %>' class='user-name <%= userStatus == 'disconnected' ? 'user-name-disconnected' : '' %>'><%= username %> </div>
		<%= userStatusTemplate({ userId: userId, userStatus: userStatus }) %>
		<div id='user-score-<%= userId %>' class='user-score'><%= userScore %></div>
	</div>
	<div class='words-container' id='user-<%= userId %>'>
		<% for (var i=0; i<words.length; i++) { %>
			<%= wordTemplate({ word: words[i], noLetters: false }) %>
		<% } %>
	</div>
</div>
