<div id='user-word-container-<%= userId %>'>
	<%= username %>
	<span id='user-status-<%= userId %>' class='user-status status-<%= userStatus %>'>
		(<%= userStatus %>)
	</span>
	<div class='words-container' id='user-<%= userId %>'></div>
	<% for (var i=0; i<words.length; i++) { %>
		<div id='player-word-<%= words[i].id %>' class='player-word'><%= words[i].word %></div>
	<% } %>
</div>
